
<form>
    <h2>Thông tin người nộp tiền</h2>
    <label for="username">Người nộp tiền</label>
    <input type="text" name="username">
    <label for="phone">Số điện thoại</label>
    <input type="text" name="phone">
    <label for="email">Email</label>
    <input type="email" name="email">
</form>
<form action="POST">
    <h2>Thông tin học phí</h2>
    <label for="idStudent">Mã số sinh viên</label>
    <input type="text" name="idStudent">
    <label for="nameStudent">Tên sinh viên</label>
    <input type="text" name="nameStudent">
    <label for="amountToPay">Số tiền cần nộp</label>
    <input type="text" name="amountToPay">

    <h2>Thông tin thanh toán</h2>
    <label for="balance">Số dư khả dụng</label>
    <input type="text" name="balance">
    <label for="amountPayment">Số tiền nộp</label>
    <input type="text" name="amountPayment">
    <a href="#">Điều khoản</a>
</form>

